.flex_container {
  display: flex;
  flex-wrap: nowrap;
  height: 600px;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  background-color: aliceblue;
  justify-content: space-evenly;
  border: none;
  border-radius: 5px;
  flex-direction: column;
}
