.answerCard {
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 280px;
  width: 150px;
  margin: 20px;
}
.answerCard:hover {
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
}
